{% extends "graphics" %}

{% block body %}
<div class="center">
    <div class="center">
        <p class="main-text" style=>Feel free to reach us whenever you want!<br><br>
            <iframe style="border-radius: 10px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2768.171998503185!2d11.163003070658432!3d46.06761149496856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47827743d643122f%3A0xe0519229a4593dac!2sAssociazione%20Consorzio%20Borinese!5e0!3m2!1sit!2sit!4v1664975655964!5m2!1sit!2sit" width="500" height="500" style="border:2ch;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br><br>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-a2a671b5-37f8-4855-938a-707e728c5ba1"></div>
        </p>
    </div>
</div>
{% endblock %}