<div class="header">
    <a href="#default" style="height: 15vh; border:0;padding: 0;padding-right:1vw" class="logo"><img  style="height: inherit; top:0" src="static/bose_logo.png"></a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="#Bo-SE">Bo-SE</a>
        <a href="#about">Chi siamo</a>
        <a href="/contacts">Contatti</a>
        <a href="/find_us">Find Us</a>
    </div>
    <div class="bus">
        <!-- Da gestire poi con api e handlebars-->
        <span>
            <span style="color: green"><b>▲ on time at 100000000000 </b></span>
            <span style="color: red"><b>▼ 20 min late at 10</b></span>
        </span>
    </div>
    <script>
        // function load_busses(){
        //     jQuery.ajax(
        //
        //     )
        // }
    </script>
</div>