<head>
    <style>

    </style>

    <link href="static/style.css" rel="stylesheet">
    <title></title>
</head>
<body>

{{> header}}
<div class="left-side">
    <h1 class="title">This web app was built with RUST</h1>
    <p class="sub-title">Hello {{name}} {{surname}}😊</p>
</div>
<div class="right-side">
        <div class="round-image">
        <p class="sub-title">Try add "contactUs"!</p>
    </div>
</div>
</body>