<head>
    <style>

    </style>

    <link href="static/style.css" rel="stylesheet">
    <title></title>
</head>
<body>

<ul>
    <li><a href="">Home</a></li>
    <li><a href="">Bo-SE</a></li>
    <li><a href="">Chi siamo</a></li>
    <li><a href="">Contatti</a></li>
</ul>
<div class="left-side">
    <h1 class="title">This web app was built with RUST</h1>
    <p class="sub-title">Hello {{name}} {{surname}}😊</p>
</div>
<div class="right-side">
    <div class="round-image"></div>
</div>
</body>