<head>
    <style>

    </style>

    <link href="static/style.css" rel="stylesheet">
    <title>Borino Stock Exchange</title>
</head>
<body>

<div class="header">
    <a href="#default" style="height: 15vh; border:0;padding: 0;padding-right:1vw" class="logo"><img  style="height: inherit; top:0" src="static/bose_logo.png"></a>
    <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a href="#Bo-SE">Bo-SE</a>
        <a href="#about">Chi siamo</a>
        <a href="#contacts">Contatti</a>
    </div>
</div>


<div class="left-side">
    <h1 class="title">This web app was built with RUST</h1>
    <p class="sub-title">Hello {{name}} {{surname}}😊</p>
</div>
<div class="right-side">

    </div>
</div>
</body>